<div class="container-fluid d-flex justify-content-center">
    <div class="w-50 vh-100">
        <div class="row position-relative top-5">
            <div class="card">
                <div class="card-body">
                    <form #setupForm="ngForm">
                        <h4>感測器存檔週期(分)</h4>
                        <div class="m-3">
                            <!-- <label for="periodID">感測器存檔週期(分)</label> -->
                            <input class="form-control" type="number" id="periodID" name="periodID"
                                [(ngModel)]="sensor_period">
                        </div>
                        <hr>
                        <h4>影像儲存時間</h4>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item border-0">
                                <label for="save_time1">影像儲存時間1</label>
                                <div class="input-group">
                                    <div class="input-group-text bg-white">
                                        <input class="form-check-input mt-0" type="checkbox" name="cb1"
                                            [(ngModel)]="fcheckTime1">
                                    </div>
                                    <input class="form-control border-start-0 border-end-0" [owlDateTime]="dt1"
                                        [owlDateTimeTrigger]="dt1" type="text" [(ngModel)]="checkTime1"
                                        name="save_time1">
                                    <owl-date-time [pickerType]="'timer'" #dt1></owl-date-time>
                                    <i class="bi bi-clock input-group-text bg-white" [owlDateTimeTrigger]="dt1"></i>
                                </div>
                            </li>
                            <li class="list-group-item border-0">
                                <label for="save_time2">影像儲存時間2</label>
                                <div class="input-group">
                                    <div class="input-group-text bg-white">
                                        <input class="form-check-input mt-0" type="checkbox" name="cb2"
                                            [(ngModel)]="fcheckTime2">
                                    </div>
                                    <input class="form-control border-start-0 border-end-0" [owlDateTime]="dt2"
                                        [owlDateTimeTrigger]="dt2" type="text" [(ngModel)]="checkTime2"
                                        name="save_time2">
                                    <owl-date-time [pickerType]="'timer'" #dt2></owl-date-time>
                                    <i class="bi bi-clock input-group-text bg-white botder-0"
                                        [owlDateTimeTrigger]="dt2"></i>
                                </div>
                            </li>
                            <li class="list-group-item border-0">
                                <label for="save_time3">影像儲存時間3</label>
                                <div class="input-group">
                                    <div class="input-group-text bg-white">
                                        <input class="form-check-input mt-0" type="checkbox" name="cb3"
                                            [(ngModel)]="fcheckTime3">
                                    </div>
                                    <input class="form-control border-start-0 border-end-0" [owlDateTime]="dt3"
                                        [owlDateTimeTrigger]="dt3" type="text" [(ngModel)]="checkTime3"
                                        name="save_time3">
                                    <owl-date-time [pickerType]="'timer'" #dt3></owl-date-time>
                                    <i class="bi bi-clock input-group-text bg-white botder-0"
                                        [owlDateTimeTrigger]="dt3"></i>
                                </div>
                            </li>
                            <li class="list-group-item border-0">
                                <label for="save_time4">影像儲存時間4</label>
                                <div class="input-group">
                                    <div class="input-group-text bg-white">
                                        <input class="form-check-input mt-0" type="checkbox" name="cb4"
                                            [(ngModel)]="fcheckTime4">
                                    </div>
                                    <input class="form-control border-start-0 border-end-0" [owlDateTime]="dt4"
                                        [owlDateTimeTrigger]="dt4" type="text" [(ngModel)]="checkTime4"
                                        name="save_time4">
                                    <owl-date-time [pickerType]="'timer'" #dt4></owl-date-time>
                                    <i class="bi bi-clock input-group-text bg-white botder-0"
                                        [owlDateTimeTrigger]="dt4"></i>
                                </div>
                            </li>
                            <li class="list-group-item border-0">
                                <label for="save_time5">影像儲存時間5</label>
                                <div class="input-group">
                                    <div class="input-group-text bg-white">
                                        <input class="form-check-input mt-0" type="checkbox" name="cb5"
                                            [(ngModel)]="fcheckTime5">
                                    </div>
                                    <input class="form-control border-start-0 border-end-0" [owlDateTime]="dt5"
                                        [owlDateTimeTrigger]="dt5" type="text" [(ngModel)]="checkTime5"
                                        name="save_time5">
                                    <owl-date-time [pickerType]="'timer'" #dt5></owl-date-time>
                                    <i class="bi bi-clock input-group-text bg-white botder-0"
                                        [owlDateTimeTrigger]="dt5"></i>
                                </div>
                            </li>
                        </ul>
                        <div class="row d-flex justify-content-between mt-3">
                            <div class="col-3 d-flex align-items-center ms-3">
                                <div class="sucess" [hidden]="!success_icon">
                                    <i class="bi bi-check2-circle"></i>
                                    <span class="ms-1">設定完成</span>
                                </div>
                                <div class="failed" [hidden]="!failed_icon">
                                    <i class="bi bi-exclamation-circle-fill"></i>
                                    <span class="ms-1">設定失敗</span>
                                </div>
                            </div>
                            <div class="col-3 d-flex justify-content-end align-items-center me-3">
                                <button class="btn btn-primary" type="submit" (click)="saveParameter()">儲存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>